.nav-logo {
  height: 30px;
  margin-right: 10px;
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #fff;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767.98px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}


.image-container {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}